body{
  line-height:1.6;
  font-size:18px;
  color:#444;
  padding:0 10px
}

h1,h2,h3{line-height:1.2}

.names {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.boys, .girls, form {
  border: double #666666 1px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #333333;
  width: 300px;
  height: 300px;
}

.boys li, .girls li {
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px;
  list-style-position: inside;
}

.boys {
  background-color: #accdff;
}
.girls {
  background-color: #ffaccd;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  padding: 20px;
}

footer {
  margin-top: 30px;
  font-size: 80%;
}
